.password {
    height: 100px;
    width: 100%;
    display: flex;
    font-size: 30px;
    color: white;
}
.password-text {
    margin: auto;
}

.password-text span {
    margin: 0 1px;
}

@media screen and (max-width: 500px) {
    .password {
        font-size: 20px;
    }
}

@media screen and (max-width: 300px) {
    .password {
        font-size: 15px;
    }
}